# Turning Invoices for Unsold Works into .txt Files

In [1]:
# Turn Word docs into .txt files

import os

for file in os.listdir('/Users/flatironschool/Final-Project/Invoices_NOTSOLD/WordDocs'):

    os.system(f'/Applications/LibreOffice.app/Contents/MacOS/soffice --headless --convert-to txt:Text /Users/flatironschool/Final-Project/Invoices_NOTSOLD/WordDocs/{file} --outdir /Users/flatironschool/Final-Project/Invoices_NOTSOLD/WordDocsToText')

In [2]:
# Turning PDFs into .txt files

file_names = []

for file in os.listdir('/Users/flatironschool/Final-Project/Invoices_NOTSOLD/PDFs'):
    file_names.append(file)

for file in file_names:
    os.system(f'pdf2txt.py -o {file}.txt /Users/flatironschool/Final-Project/Invoices_NOTSOLD/PDFs/{file}')

# Manually inputting data?

In [28]:
artist = []
dim = []
med = []
title = []

In [57]:
unsold_df = {'Artist': artist, 'Dimensions': dim, 'Media': med, 'Title': title}

In [58]:
import pandas as pd

test = pd.DataFrame(unsold_df)

In [59]:
test

,Artist,Dimensions,Media,Title
0,"[Smith, Smith]","[30 x 40, 30 x 40]","[oil on canvas, oil on canvas]","[Asian Touch, The Piano Room]"
1,"[Smith, Smith]","[30 x 40, 30 x 40]","[oil on canvas, oil on canvas]","[Asian Touch, The Piano Room]"
2,[Smith],[30 x 40],[oil on canvas],[Asian Touch]
3,Smith,30 x 40,oil on canvas,Asian Touch
4,Smith,30 x 40,oil on canvas,Asian Touch
5,Smith,30 x 40,oil on canvas,Asian Touch
6,Smith,30 x 40,oil on canvas,Asian Touch
7,Smith,30 x 40,oil on canvas,Asian Touch

In [52]:
smith_artist = 'Smith'
smith_titles = 'Asian Touch'
smith_dims = '30 x 40'
smith_med = 'oil on canvas'

In [39]:
smith_work_1 = ['Smith', 'Asian Touch', '30 x 40', 'oil on canvas']

In [56]:
for i in range(0,len(smith_artist)): 
    artist.append(smith_artist)
    dim.append(smith_dims)
    med.append(smith_med)
    title.append(smith_titles)